
			#logo {
				float: left;
				margin-right: 30px;
			}

				#logo img {
					display: block;
				}

			/* Essential styles for superfish menu */
			.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
			.sf-menu { line-height: 1.0; }
			.sf-menu ul { position: absolute; top: -15px; width: 135px; /* left offset of submenus need to match (see below) */ }
			.sf-menu ul li { width: 100%; }
			.sf-menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
			.sf-menu li { position: relative; }
			.sf-menu a { display: block; position: relative; }
			.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: -15px; left: 100%; /* match top ul list item height */ z-index: 1500;  }
			ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:-15px; } 
			ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { top: 0; left: 100%;  }
			ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -15px; }
			ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 100%; /* match ul width */ }

			#nav {
				float: left;
				font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

				#nav a {
					display: block;
					position: relative;
					font-weight: bold;
				}

				#nav > div {
					float: left;
					margin-right: 20px;
				}

					#nav .sf-menu {
						border-left: 1px solid #3c4247;
						list-style-type: none;
						margin: 0;
						padding: 0;
					}

						#nav .sf-menu > li {
							display: block;
							margin: 0 0 17px 20px;
						}

							#nav .sf-menu > li > a {
								color: #51b948;
								font-size: 12px;
								line-height: 1;
								text-transform: uppercase;
							}

							#nav .sf-menu > li.current-menu-item > a,
							#nav .sf-menu li.current-menu-ancestor > a,
							#nav .sf-menu > li.active > a,
							#nav .sf-menu > li.hover > a {
								color: #005596;
							}

							#nav .sub-menu {
								padding-left: 13px;
								min-width: 87px;
								width: auto;
								opacity: 0;
								-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
							}

							#nav .sub-menu > li:first-child:after {
								right: 100%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
							}

							#nav .sub-menu > li:first-child:after {
								border-color: rgba(34, 48, 59, 0);
								border-right-color: #22303b;
								border-width: 6px;
								top: 15px;
							}

								#nav .sub-menu li {
									background: #22303b;
									padding: 8px 15px;
									white-space: nowrap;
									width: auto;
									text-transform: uppercase;
								}

								#nav .sub-menu li:first-child {
									border-radius: 3px 3px 0 0;
									padding-top: 15px;
								}

								#nav .sub-menu li:last-child,
								#nav .sub-menu li.last-child {
									border-radius: 0 0 3px 3px;
									padding-bottom: 15px;
								}

									#nav .sub-menu li a {
										color: #84848c;	
										display: block;
										line-height: 1;
									}

									#nav .sub-menu li.current-menu-item a,
									#nav .sub-menu li a:hover {
										color: #fff;
									}

									#nav .sub-menu li:last-child a {
										
									}

