<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.RecursosHumanosServiceImpl</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>AdministracionServiceImpl</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.AdministracionServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImprimirConstanciaPermiso</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ImprimirConstanciaPermiso</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ImprimirConstanciaPermiso</servlet-name>  
        <url-pattern>/ImprimirConstanciaPermiso</url-pattern>  
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ExportarDatos</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportarDatos</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportarDatos</servlet-name>  
        <url-pattern>/ExportarDatos</url-pattern>  
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ExportAs</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportAs</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportAs</servlet-name>  
        <url-pattern>/ExportAs</url-pattern>  
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ExportBancos</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportBancos</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportBancos</servlet-name>  
        <url-pattern>/ExportBancos</url-pattern>  
 </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/seguridad/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SqlServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.SqlServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SqlServlet</servlet-name>
    <url-pattern>/seguridad/Insertar</url-pattern>
  </servlet-mapping>

<!-- Soluciones Construidas -->

  <servlet>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.SolucionesConstruidasServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/seguridad/Registro</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExportSolucionDetalle</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportSolucionDetalle</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportSolucionDetalle</servlet-name>  
        <url-pattern>/ExportSolucionDetalle</url-pattern>  
  </servlet-mapping>  


  <servlet>
    <servlet-name>upload url servlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.UploadUrlServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload url servlet</servlet-name>
    <url-pattern>/seguridad/uploadUrl</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  
 <servlet>  
        <servlet-name>CrearReporteEmpleado</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.CrearReporteEmpleado</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>CrearReporteEmpleado</servlet-name>  
        <url-pattern>/CrearReporteEmpleado</url-pattern>  
</servlet-mapping>  

 <servlet>  
        <servlet-name>ImprimirPerfil</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.ImprimirPerfil</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>ImprimirPerfil</servlet-name>  
        <url-pattern>/ImprimirPerfil</url-pattern>  
</servlet-mapping>  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  
</web-app>
