<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/seguridad/login</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SqlServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.SqlServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SqlServlet</servlet-name>
    <url-pattern>/seguridad/Insertar</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>upload url servlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.UploadUrlServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>upload url servlet</servlet-name>
    <url-pattern>/seguridad/uploadUrl</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.Upload</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.Serve</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  
  <servlet>  
 <servlet-name>CrearReporteEmpleado</servlet-name>  
 <servlet-class>org.habitatguate.hgerp.seguridad.service.CrearReporteEmpleado</servlet-class>  
</servlet>  
<servlet-mapping>  
 <servlet-name>CrearReporteEmpleado</servlet-name>  
 <url-pattern>/CrearReporte</url-pattern>  
</servlet-mapping>  

  <servlet>  
 <servlet-name>ImprimirPerfil</servlet-name>  
 <servlet-class>org.habitatguate.hgerp.seguridad.service.ImprimirPerfil</servlet-class>  
</servlet>  
<servlet-mapping>  
 <servlet-name>ImprimirPerfil</servlet-name>  
 <url-pattern>/ImprimirPerfil</url-pattern>  
</servlet-mapping>  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  
</web-app>