<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.RecursosHumanosServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdmnistracionService</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.AdministracionServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmnistracionService</servlet-name>
    <url-pattern>/seguridad/Admnistracion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImprimirConstanciaPermiso</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ImprimirConstanciaPermiso</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ImprimirConstanciaPermiso</servlet-name>  
        <url-pattern>/ImprimirConstanciaPermiso</url-pattern>  
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ExportarDatos</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportarDatos</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportarDatos</servlet-name>  
        <url-pattern>/ExportarDatos</url-pattern>  
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ExportAs</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportAs</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportAs</servlet-name>  
        <url-pattern>/ExportAs</url-pattern>  
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ExportBancos</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportBancos</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportBancos</servlet-name>  
        <url-pattern>/ExportBancos</url-pattern>  
 </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/seguridad/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SqlServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.SqlServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SqlServlet</servlet-name>
    <url-pattern>/seguridad/Insertar</url-pattern>
  </servlet-mapping>

<!-- Soluciones Construidas -->

  <servlet>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.SolucionesConstruidasServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/seguridad/Registro</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExportConsultaSoluciones</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportConsultaSoluciones</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportConsultaSoluciones</servlet-name>  
        <url-pattern>/ExportConsultaSoluciones</url-pattern>  
  </servlet-mapping>  

  <servlet>
    <servlet-name>ExportConsultaEncuestas</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportConsultaEncuestas</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportConsultaEncuestas</servlet-name>  
        <url-pattern>/ExportConsultaEncuestas</url-pattern>  
  </servlet-mapping>  

 <servlet>  
        <servlet-name>ImprimirEncuestaSatisfaccion</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.ImprimirEncuestaSatisfaccion</servlet-class>  
 </servlet>  
 <servlet-mapping>  
        <servlet-name>ImprimirEncuestaSatisfaccion</servlet-name>  
        <url-pattern>/ImprimirEncuestaSatisfaccion</url-pattern>  
 </servlet-mapping>
 
 <servlet>  
        <servlet-name>CrearReporteSolucionesHabitat</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.CrearReporteSolucionesHabitat</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>CrearReporteSolucionesHabitat</servlet-name>  
        <url-pattern>/CrearReporteSolucionesHabitat</url-pattern>  
</servlet-mapping> 


  <servlet>
    <servlet-name>upload url servlet</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.UploadUrlServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload url servlet</servlet-name>
    <url-pattern>/seguridad/uploadUrl</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  
 <servlet>  
        <servlet-name>CrearReporteEmpleado</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.CrearReporteEmpleado</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>CrearReporteEmpleado</servlet-name>  
        <url-pattern>/CrearReporteEmpleado</url-pattern>  
</servlet-mapping>  

 <servlet>  
        <servlet-name>ImprimirPerfil</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.ImprimirPerfil</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>ImprimirPerfil</servlet-name>  
        <url-pattern>/ImprimirPerfil</url-pattern>  
</servlet-mapping>  

 <servlet>  
        <servlet-name>FinanGenerarPdfVale</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.FinanGenerarPdfVale</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>FinanGenerarPdfVale</servlet-name>  
        <url-pattern>/FinanGenerarPdfVale</url-pattern>  
</servlet-mapping>

<servlet>  
        <servlet-name>FinanGenerarPdfReporteRecord</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.FinanGenerarPdfReporteRecord</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>FinanGenerarPdfReporteRecord</servlet-name>  
        <url-pattern>/FinanGenerarPdfReporteRecord</url-pattern>  
</servlet-mapping>

<servlet>  
        <servlet-name>FinanGenerarSolicitudCheque</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.FinanGenerarSolicitudCheque</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>FinanGenerarSolicitudCheque</servlet-name>  
        <url-pattern>/FinanGenerarSolicitudCheque</url-pattern>  
</servlet-mapping>

<servlet>  
        <servlet-name>FinanInformacionProveedorPDF</servlet-name>  
        <servlet-class>org.habitatguate.hgerp.seguridad.service.FinanInformacionProveedorPDF</servlet-class>  
</servlet>  
<servlet-mapping>  
        <servlet-name>FinanInformacionProveedorPDF</servlet-name>  
        <url-pattern>/FinanInformacionProveedorPDF</url-pattern>  
</servlet-mapping>

  <servlet>
    <servlet-name>ExportComparativoPrecios</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportComparativoPrecios</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportComparativoPrecios</servlet-name>  
        <url-pattern>/ExportComparativoPrecios</url-pattern>  
 </servlet-mapping> 
 
    <servlet>
    <servlet-name>ExportResumenCreditos</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportResumenCreditos</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportResumenCreditos</servlet-name>  
        <url-pattern>/ExportResumenCreditos</url-pattern>  
 </servlet-mapping>
 
  <servlet>
    <servlet-name>ExportReporteComprasProv</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportReporteComprasProv</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportReporteComprasProv</servlet-name>  
        <url-pattern>/ExportReporteComprasProv</url-pattern>  
 </servlet-mapping>
 
  <servlet>
    <servlet-name>ExportReportePagosProv</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportReportePagosProv</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportReportePagosProv</servlet-name>  
        <url-pattern>/ExportReportePagosProv</url-pattern>  
 </servlet-mapping>
 
    <servlet>
    <servlet-name>ExportReporteSolucionesHab</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportReporteSolucionesHab</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportReporteSolucionesHab</servlet-name>  
        <url-pattern>/ExportReporteSolucionesHab</url-pattern>  
 </servlet-mapping>
 
  <servlet>
    <servlet-name>ExportReporteCuentasAPagar</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportReporteCuentasAPagar</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportReporteCuentasAPagar</servlet-name>  
        <url-pattern>/ExportReporteCuentasAPagar</url-pattern>  
 </servlet-mapping>
 
    <servlet>
    <servlet-name>ExportReporteDeMateriales</servlet-name>
    <servlet-class>org.habitatguate.hgerp.seguridad.service.ExportReporteDeMateriales</servlet-class>
  </servlet>
  <servlet-mapping>  
        <servlet-name>ExportReporteDeMateriales</servlet-name>  
        <url-pattern>/ExportReporteDeMateriales</url-pattern>  
 </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  
</web-app>
