/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {
    background: white;
    filter:alpha(opacity=1);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 400px 0px 70px;
  text-align: center;
}
.sendButton {
 background: #51B948;
	color: #fff;
	padding: 8px 10px;
	border: 0;
	font-size: 16px;
	font-style: normal;
	font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1px;
	text-transform: uppercase;
	cursor: pointer;
}
.sendButton2 {
 background: #344655;;
	color: grey;
	padding: 8px 10px;
	border: 0;
	font-size: 10px;
	font-style: normal;
	font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1px;
	text-transform: uppercase;
	cursor: pointer;
}
.sendButton2:hover {
	background: #344655;;
	color : white;
							
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 300px;
    color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.login_css {
}
.gwt-TextBox {
background: #fff;
border: 0;
overflow: hidden;
-moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14);
-webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14);
box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14);
color: darkgray;
font-family: Oswald, sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 1.4;
padding: 20px 25px;
}
.gwt-PasswordTextBox {
background: #fff;
overflow: hidden;
box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14);
	color: darkgray;
	border: 0;
	font-size: 16px;
	font-family: Oswald, sans-serif;
	font-weight: bold;
	line-height: 1.4px;
}
.gwt-Label {
display: block;
	color: grey;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
 
 
.panelNorth {
color: White;
}
.gwt-StackLayoutPanel {
 background: #51B948;
	color: White;
	font-variant: normal;
	font-size: 15px;
	font-style: normal;
	font-weight: bolder;
	cursor: pointer;
}

.gwt-Label-new {
background: #f2f5f8;
border: 5px solid #eaeef2;
border-radius: 5px;
color: #7d8791;
margin: 0 0 30px 0;
padding: 35px 35px 10px;
position: relative;
}
.gwt-Tree {
	color: white;
	font-size: 8px;
	font-style: normal;
	text-align: left;
	background-color: #344655;
}
.gwt-Tree .gwt-TreeItem-selected {
  background: #ebeff9;
}
.gwt-TreeItem .gwt-RadioButton input,
.gwt-TreeItem .gwt-CheckBox input {
  margin-left: 0px;
}
.gwt-TabPanel {
	margin-top: 4px;
}

.gwt-TabPanelBottom {

}

.gwt-TabBar {
  padding-top: 2px;
  background-color: #fff;
}

.gwt-TabBarItem {
        background: #51B948;
	color: White;
	margin-right: 2px;
	padding: 4px;
	border-bottom: 2px solid white;
	font-weight: bolder;
	cursor: pointer;
}

.gwt-TabBarItem-selected {
background: #005596;
	color: White;
	margin-right: 2px;
	padding: 4px;
	border-bottom: 2px solid white;
	font-weight: bolder;
	cursor: pointer;
}
.label {
	color: #7d8791;
	font-size: 14px;
}
/* 
* Global widget style. 
*/
.gwt-DatePicker {
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
  cursor: default;
  width: 10em;
  height: 10em;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  outline: none;
  cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector  td :focus {
  outline: none
}

.gwt-DateBox input {
  width: 8em;
}

/* 
* Calendar styles 
*/
.datePickerDays {
  background-color: white;
  width: 100%;
}

.datePickerWeekdayLabel {
  background: #dbe6de;
}

.datePickerWeekendLabel {
  background: #dbe7ef;
}

.datePickerDay {
  padding: 1px;
  cursor: hand;
  width: 1em;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 0px;
}

.datePickerDayIsWeekend {
  background: #f1f1f1;
}

.datePickerDayIsFiller {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.datePickerDayIsSelected {
  background: #aaccee;
}

.datePickerDayIsDisabled {
  color: graytext;
}

.datePickerDayIsHighlighted {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.datePickerDayIsSelectedAndHighlighted {
   background: #bbddff;
}


/* 
* Month selector styles 
*/
.datePickerMonthSelector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 70%;
}

.datePickerPreviousButton {
   text-align: left;
}

.datePickerNextButton {
     text-align: right; 
}.gwt-CheckBox{ 
   color:green;   
}
.gwt-CheckBox-disabled {
   color:green;
}
item_arbol { 
    background: #51B948;
	color: #fff;
	padding: 8px 10px;
	border: 0;
	font-size: 8px;
	font-style: normal;
	font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1px;
	text-transform: uppercase;
	cursor: pointer;
}
.sendButton:hover {
	background: #005596;
							
}
.gwt-TextBox2 {
background: #fff;
overflow: hidden;
box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14);
	color: darkgray;
	border: 0;
	font-size: 16px;
	font-family: Oswald, sans-serif;
	font-weight: bold;
	line-height: 1.4px;
}
. {
}
.gwt-TabBarItem-new {
 background: #51B948;
	color: #fff;
	padding: 8px 10px;
	border: 0;
	font-size: 10px;
	font-style: normal;
	font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1px;
	text-transform: uppercase;
	cursor: pointer;
} 
.informacion, .descarga, .referencia {
  background-position: 10px center;
  background-repeat: no-repeat;
  font-family: Tahoma;
  font-size: 14px;
  margin: 10px 0px;
  padding: 15px 10px 15px 55px
  ;margin-left: auto; /* centrada con respecto a la izquierda */
margin-right: auto;
}
.informacion {
background-color: #F7F79C; /* el color de fondo */
background-image: url(images/Knob Valid Green.ico); /* la imagen representativa */
color: #002299;  /* el color del texto */
}
.descarga {
background-color: #94F79C;  /* el color de fondo */
background-image: url(images/Knob Valid Green.ico); /* la imagen representativa */
color: #000000;  /* el color del texto */
}
.referencia {
background-color: #6B9CFF; /* el color de fondo */
background-image: url(images/Knob Valid Green.ico); /* la imagen representativa */
color: #FFFFFF; /* el color del texto */
}