/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {
	background-color: white;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 400px 0px 70px;
  text-align: center;
}
.sendButton {
  background: #a9db80; /* Old browsers */
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	color: White;
	font-size: 18px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 300px;
    color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.login_css {
}
.gwt-TextBox {
	color: gray;
	font-size: 18px;
	opacity:0.6	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	
	background: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
	
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
.gwt-PasswordTextBox {
	color: gray;
	font-size: 18px;
	opacity:0.6
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
	
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
.gwt-Label {
  background: #a9db80; /* Old browsers */
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	margin-right: 14px;
}
 
 
.panelNorth {
color: White;

  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
}
.gwt-StackLayoutPanel {
color: White;

  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
}

.gwt-Label-new {

        background: lightsteelblue;
        border-radius: 0 0 20px 20px;
        padding: 20px 26px;
}
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
.gwt-Tree {
	color: Black;
	background-color: powderblue;
}
.gwt-StackLayoutPanel-new {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
color: White; /* IE6-9 */
}
.scrollPanel {
	background-color: lightsteelblue;
}
.body-new {

	background-color: lightsteelblue;
	border-radius: 0 0 20px 20px;
	padding: 10px 10px;
	border-radius: 20px 20px 20 20;
}
.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
background: #a9db80; /* Old browsers */
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	color: White;
	font-size: 18px;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #878787;
  background-color: #fff;
}

.gwt-TabBarItem {
	margin-right: 2px;
	padding: 4px;
	border-bottom: 2px solid white;
	background-color: #e8e8e8;
	cursor: pointer;
}

.gwt-TabBarItem-selected {
background: #a9db80; /* Old browsers */
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
	color: White;
	font-size: 18px;
}
.label {
	color: Black;
	font-size: 10px;
}
.gwt-TextBox2 {
	color: black;
	font-size: 8px;
	opacity:0.6	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	
	background: #eee;
	padding: 4px 10px;
	width: 328px;
	
	border: none;
	font-family: inherit;
	font-size: 10;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
/* 
* Global widget style. 
*/
.gwt-DatePicker {
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
  cursor: default;
  width: 7em;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  outline: none;
  cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector  td :focus {
  outline: none
}

.gwt-DateBox input {
  width: 8em;
}

/* 
* Calendar styles 
*/
.datePickerDays {
  background-color: white;
  width: 100%;
}

.datePickerWeekdayLabel {
  background: #dbe6de;
}

.datePickerWeekendLabel {
  background: #dbe7ef;
}

.datePickerDay {
  padding: 1px;
  cursor: hand;
  width: 1em;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 0px;
}

.datePickerDayIsWeekend {
  background: #f1f1f1;
}

.datePickerDayIsFiller {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.datePickerDayIsSelected {
  background: #aaccee;
}

.datePickerDayIsDisabled {
  color: graytext;
}

.datePickerDayIsHighlighted {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.datePickerDayIsSelectedAndHighlighted {
   background: #bbddff;
}


/* 
* Month selector styles 
*/
.datePickerMonthSelector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 70%;
}

.datePickerPreviousButton {
   text-align: left;
}

.datePickerNextButton {
     text-align: right; 
}.gwt-CheckBox{ 
   color:green;   
}
.gwt-CheckBox-disabled {
   color:green;
} 
