/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {
	background-color: white;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 400px 0px 70px;
  text-align: center;
}
.sendButton {
  background: #a9db80; /* Old browsers */
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	color: White;
	font-size: 18px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 300px;
    color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.login_css {
	background-color: lightsteelblue;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}
.gwt-TextBox {
	color: gray;
	font-size: 18px;
	opacity:0.6	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}
.gwt-PasswordTextBox {
	color: gray;
	font-size: 18px;
	opacity:0.6
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}
.gwt-Label {

  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;-webkit-border-radius: 20px 50px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 25px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 30px 26px;
}
 
 
.panelNorth {
color: White;

  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #3a4d9c;
  background: -webkit-linear-gradient(#3a4d9c, #2c3b77);
  background: -moz-linear-gradient(#3a4d9c, #2c3b77);
  background: linear-gradient(#3a4d9c, #2c3b77);
  border-color: transparent;
}
.gwt-StackLayoutPanel {
	color: White;
	padding-top: 4px;
	padding-left: 0px;
	border: thin solid Black;
	font-weight: bold;
	background-color: #3F4C6B;

}
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
